.pytest_cache/*
*.dat
*.log
__pycache__
*.log.*
.cache/*
.coverage 
.eggs/*
.tox/*
htmlcov/
.vscode/* 
*pytest-report.xml* 
venv
env
.env
*:Zone.Identifier
coverage-report.xml 
*.egg-info 
*.DS_Store 
